body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#yesButton {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px; /* Adjust the padding to increase the button size */
}

#noButton {
    background-color: red;
    color: white;
    border: none;
    position: absolute;
}

#noButton.moving {
    animation: moveButton 0.5s infinite alternate;
}

@keyframes moveButton {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
