body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333; /* Text color */
}

h1 {
    color: #c70039; /* Red for Christmas */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #228B22; /* Green for Christmas */
    color: #fff; /* Text color */
}
